# Folders to ignore
.ipynb_checkpoints/
.Rproj.user/
.vscode/
AAMC_data/
data/
dox_matching/
dox_rankings/
manuscript/
posters/
blueridge_data/
blueridge_matching/

# Files to ignore
tables/reputation_doximity_ranks.xlsx
tables/rf_cv_model.pickle
tables/df_clean.xlsx
tables/texasSTAR_unique_programs.csv
tables/unmatched_unique_programs.csv
tables/STAR_Programs_2017_2023_final_matched.csv
tables/STAR_Programs_2017_2023_merged.csv
tables/dox_star_error_tracker.xlsx
tables/doximity_rankings.xlsx
tables/program_counts.xlsx
.RData
.Rhistory
2024-07-29_Texas-STAR.Rproj
Supporting data values.xlsx
tables.xlsx
tables/figure1_supporting.xlsx
tables/figure2_supporting.xlsx
tables/figure3_supporting_raw.xlsx
tables/supplemental_figure1_supporting_raw.xlsx
tables/supplemental_figure2_blueridge_ranks.xlsx


